<md-toolbar color="default">
      <span>
        <a href="">
          <a href="" routerLink="./" class="logo"><h3 style="text-decoration: none">SalonFinder</h3></a>
        </a>
      </span>
      <span class="toolbar-spacer"></span>
      <span class="top-button-row">
        <a md-button routerLink="./">Home</a>
        <a md-button routerLink="./salons">Salons</a>
        <a md-button routerLink="./salons">About us</a>
        <a md-button routerLink="./salons">Contact</a>
      </span>
      <span class="toolbar-spacer"></span>
      <!--<md-menu #appMenu="mdMenu" yPosition="above">-->
        <!--<button md-menu-item> Settings </button>-->
        <!--<button md-menu-item> Logout </button>-->
      <!--</md-menu>-->
      <!--<button md-icon-button [mdMenuTriggerFor]="appMenu">-->
        <!--<md-icon>more_vert</md-icon>-->
      <!--</button>-->

    <button md-button class="mat-primary">Log In</button>
    <a routerLink="register" md-button class="mat-primary">Register</a>
</md-toolbar>
