<md-toolbar color="default">
      <!--<span>SalonFinder</span>-->
      <span>
        <!--<md-icon svgIcon="salon-logo"></md-icon>-->
        <md-card class="example-card">
          <!--<img md-card-image src="../assets/img/salon-icon.svg" style="margin-top: 40px;
           max-width:10%; max-height:10%;">  -->
        </md-card>
      </span>
      <span class="toolbar-spacer"></span>
      <md-menu #appMenu="mdMenu" yPosition="above">
        <button md-menu-item> Settings </button>
        <button md-menu-item> Logout </button>
      </md-menu>
      <button md-icon-button [mdMenuTriggerFor]="appMenu">
        <md-icon>more_vert</md-icon>
      </button>
</md-toolbar>
