<md-toolbar color="default">
      <!--<span>SalonFinder</span>-->
      <span>
        <!--<md-icon svgIcon="salon-logo"></md-icon>-->
        <a href="">
          <img src="../assets/img/salon-icon.svg" alt="logo" style="max-width:80px; max-height:60px;">
        </a>
      </span>
      <span class="top-button-row">
        <a md-button routerLink="./salons">Home</a>
        <a md-button routerLink="./salons">About us</a>
        <a md-button routerLink="./salons">Salons</a>
        <a md-button routerLink="./salons">Contact</a>
      </span>
      <span class="toolbar-spacer"></span>
      <md-menu #appMenu="mdMenu" yPosition="above">
        <button md-menu-item> Settings </button>
        <button md-menu-item> Logout </button>
      </md-menu>
      <button md-icon-button [mdMenuTriggerFor]="appMenu">
        <md-icon>more_vert</md-icon>
      </button>
</md-toolbar>
