a{
  text-decoration: none;
}
.toolbar-spacer {
  flex: 1 1 auto;
}

.top-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo{
  color:#aaaaaa;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
