<md-card>
  <form>
    <div fxLayout="row">
      <md-input-container fxFlexOffset="25" fxFlex="25">
        <input mdInput type="email" placeholder="Email" name="email" required>
      </md-input-container>

      <md-input-container fxFlexOffset="5" fxFlex="25">
        <input mdInput type="password" placeholder="Password" name="password" required>
      </md-input-container>
    </div>
    <hr>
    <div fxLayout="row">
      <div fxFlexOffset="70">
        <button md-raised-button class="mat-accent" (click)="login()">Log In</button>
      </div>
    </div>
  </form>
</md-card>
