<app-header></app-header>
<!--<div style="text-align:center">-->
  <!--<h2>-->
    <!--&lt;!&ndash;Welcome to {{title}}!&ndash;&gt;-->
    <!--<img src="../assets/img/salon.png">-->
  <!--</h2>-->
  <!--<h4 style="color: #FFF;font-style: italic">A place to search local salons and book appoints.</h4>-->
<!--</div>-->
<!--<div style="text-align:center; padding: 20px">-->
  <!--<button type="button" md-raised-button class="mat-accent" style="width: 150px">Search Salons</button>-->
  <!--<button type="button" md-raised-button style="width: 150px">Create a Salon</button>-->
<!--</div>-->
<router-outlet></router-outlet>

