
<form name="searchForm">
    <md-card>
        <div fxLayout="row">
            <div fxFlex="40">
                <label>Location:</label>
                <input md-input [(ngModel)]="location" name="location" >  
            </div>  
            <div fxFlex> 
                <label>Distance:</label>
                <md-select [(ngModel)]="distance" name="distance">
                    <md-option value="1">1km</md-option>
                    <md-option value="5">5km</md-option>
                    <md-option value="10">10km</md-option>
                </md-select>
            </div> 
        </div>
        <div layout="row">
            <label>Date:</label>
            <!--<input md-input name="date" [(ngModel)]="date">  -->
            <material-datepicker [(date)]="yourModelDate"></material-datepicker> 
            
            <label for="from">From:</label>
            <!--<input md-input name="from" [(ngModel)]="from">  -->
            <input class="picker-input" id="from" name="from" [ngModel]="moment | date: 'short'"
             [(dateTimePicker)]="moment" [pickerType]="'time'" readonly>
            
            <label for="to">To:</label>
            <input class="picker-input" id="to" name="to" [ngModel]="moment | date: 'short'"
             [(dateTimePicker)]="moment" [pickerType]="'time'" readonly>
            
            <button md-button (click)="search()">SEARCH</button>  
        </div>    
    </md-card>

    <div fxLayout="row">
        <div fxFlex="33">
            <ul>
            <li><md-checkbox name="serv" value="1">haircut</md-checkbox></li>
            <li><md-checkbox name="serv" value="2">massage</md-checkbox></li>
            <li><md-checkbox name="serv" value="3">sauna</md-checkbox></li>
            </ul>
        </div>
        <div fxFlex="33">
            <ul>
            <li><md-checkbox name="serv" value="4">nails</md-checkbox></li>
            <li><md-checkbox name="serv" value="5">beardcut</md-checkbox></li>
            <li><md-checkbox name="serv" value="6">beard coloring</md-checkbox></li>
            </ul>
        </div>
        <div fxFlex="33">
            <ul>
            <li><md-checkbox name="serv" value="7">styling</md-checkbox></li>
            <li><md-checkbox name="serv" value="8">shaving</md-checkbox></li>
            <li><md-checkbox name="serv" value="9">manicure</md-checkbox></li>
            </ul>
        </div>
        <div fxFlex="33">
            <ul>
            <li><md-checkbox name="serv" value="10">pedicure</md-checkbox></li>
            <li><md-checkbox name="serv" value="11">women's cut</md-checkbox></li>
            <li><md-checkbox name="serv" value="12">irokez</md-checkbox></li>
            </ul>
        </div>
    </div>
    
</form>


<li *ngFor="let salon of salons" >
<md-card>
  <div class="view">
    <div>{{salon.name}}</div>
    <div>{{salon.address}}</div>
    <button>BOOK</button>
  </div>
</md-card>
</li>
