
<form name="searchForm">
  <md-card>
    <div fxLayout="row">
        <md-input-container fxFlexOffset="20" fxFlex="25">
          <input mdInput placeholder="Location" [(ngModel)]="location" name="location" >
        </md-input-container>

      <div fxFlexOffset="5" fxFlex="25" fxLayout="column" style="text-align: left">
        <label fxFlex="20" style="color: #aaaaaa;font-size: 12px">Distance</label>
        <md-slider fxFlex="80" [(ngModel)]="distance" name="distance"
                   [max]="10"
                   [min]="1"
                   [step]="2"
                   [thumb-label]="true" placeholder="Distance"></md-slider>
      </div>
    </div>
    <div fxLayout="row">
      <md-input-container fxFlexOffset="20" fxFlex="25">
        <input mdInput [mdDatepicker]="picker" placeholder="Date" [(ngModel)]="dateOfBooking" 
        name="dateOfBooking">
        <button mdSuffix [mdDatepickerToggle]="picker"></button>
      </md-input-container>
      <md-datepicker #picker></md-datepicker>

      <div fxFlexOffset="5" fxFlex="25" fxLayout="row" style="text-align: left">
        <md-input-container fxFlex="45">
          <input mdInput type="time" placeholder="From" [(ngModel)]="from" name="from">
        </md-input-container>
        <md-input-container fxFlexOffset="10" fxFlex="45">
          <input mdInput type="time" placeholder="To" [(ngModel)]="to" name="to">
        </md-input-container>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlexOffset="70">
        <button md-raised-button class="mat-accent" (click)="search()">SEARCH</button>
      </div>
    </div>
    <hr>

    <div fxLayout="row" fxFlexOffset="20" style="text-align: left">
      <md-checkbox fxFlex="20" name="serv" [(ngModel)]="checked[0]" >{{services[0]}}</md-checkbox>
      <md-checkbox fxFlex="20" name="serv" [(ngModel)]="checked[1]">{{services[1]}}</md-checkbox>
      <md-checkbox fxFlex="20" name="serv" [(ngModel)]="checked[2]">{{services[2]}}</md-checkbox>
      <md-checkbox fxFlex="20" name="serv" [(ngModel)]="checked[3]">{{services[3]}}</md-checkbox>
    </div>
    <div fxLayout="row" fxFlexOffset="20" style="text-align: left">
      <md-checkbox fxFlex="20" name="serv" [(ngModel)]="checked[4]">{{services[4]}}</md-checkbox>
      <md-checkbox fxFlex="20" name="serv" [(ngModel)]="checked[5]">{{services[5]}}</md-checkbox>
      <md-checkbox fxFlex="20" name="serv" [(ngModel)]="checked[6]">{{services[6]}}</md-checkbox>
      <md-checkbox fxFlex="20" name="serv" [(ngModel)]="checked[7]">{{services[7]}}</md-checkbox>
    </div>
    <div fxLayout="row" fxFlexOffset="20" style="text-align: left">
      <md-checkbox fxFlex="20" name="serv" [(ngModel)]="checked[8]">{{services[8]}}</md-checkbox>
      <md-checkbox fxFlex="20" name="serv" [(ngModel)]="checked[9]">{{services[9]}}</md-checkbox>
      <md-checkbox fxFlex="20" name="serv" [(ngModel)]="checked[10]">{{services[10]}}</md-checkbox>
      <md-checkbox fxFlex="20" name="serv" [(ngModel)]="checked[11]">{{services[11]}}</md-checkbox>
    </div>
  </md-card>
</form>

<app-search-result *ngFor="let salon of salons" [name]="salon.name"
                   [address]="salon.address"
                   [menu]="salon.menu"
                   [timeslots]="salon.timeslots"
                   [distance]="salon.distance"
                   [totalPriceForSelectedServices]="salon.totalPriceForSelectedServices"
                   [schedule]="salon.schedule"></app-search-result>

