
<h1>Salon Booking</h1>

<form name="bookForm">
<h2>{{salon.name}}</h2>
<h3> {{salon.address}}</h3>

<!--h4>Bookings already done on {{date}}:</h4>
 <ul>
  <li *ngFor="let booking of bookings" >
	{{booking.count}} for slot {{booking._id.slot + ':00:00'}} 
  </li>
 </ul-->
 
 
 
<div fxLayout="row">
 
<div fxFlexOffset="10" fxFlex="45">
<div>Date: {{date}}</div>

<div>
 <label>Timeslot</label>
 <md-radio-group [(ngModel)]="selectedTimeSlot" name="selectedTimeSlot">
  <md-list>
   <md-list-item *ngFor="let slot of salon.timeslots">
   <md-radio-button [value]="slot">
     {{slot}}
   </md-radio-button>
  </md-list-item>
  </md-list>   
</md-radio-group>
</div>
</div>

<div fxFlexOffset="10" fxFlex="45">
 <div flex="100" *ngFor="let item of salon.menu">
   <md-checkbox name="ch_serv" [(ngModel)]="item.selected" 
    (change)="recalc_price()">
    {{ item.name }}
   </md-checkbox>
 </div>
 <div>Total Price : {{salon.totalPriceForSelectedServices}}</div>

</div>

</div>

<div fxLayout="row">
<div fxFlexOffset="10" fxFlex="45">
  <input mdInput type="email" placeholder="E-mail" [(ngModel)]="email" name="email" />
</div>
<div fxFlexOffset="20">
<button md-raised-button class="mat-accent" (click)="book()">BOOK</button>
</div>
</div>

</form>
