<div class="center">
<h1>Salon Booking</h1>

<form name="bookForm">
<h2> Salon: {{salon.name}}</h2>
<h3> Address: {{salon.address}}</h3>

<div fxLayout="row">
<md-input-container fxFlexOffset="15" fxFlex="35">
  <input mdInput type="email" placeholder="Your E-mail" [(ngModel)]="email" name="email" required />
</md-input-container>
<div fxFlexOffset="10">
<button md-raised-button class="mat-accent" (click)="book()">BOOK</button>
</div>
</div>

<div class="alert alert-success" ng-show="showSuccessAlert">
{{success_msg}}
</div>
<div>
{{error_msg}}
</div>

<h3>Date: {{date}}</h3>
<!--h3>Bookings already done on {{date}}:</h3>
 <ul>
  <li *ngFor="let booking of bookings" >
	{{booking.count}} for slot {{booking._id.slot + ':00:00'}} 
  </li>
 </ul-->
  
<div fxLayout="row">
 
<div fxFlexOffset="10" fxFlex="35">
 <md-radio-group [(ngModel)]="selectedTimeSlot" name="selectedTimeSlot" required>
	<div *ngFor="let slot of salon.timeslots">
   <md-radio-button [value]="slot" required>
     {{slot}}
   </md-radio-button>
   </div>
</md-radio-group>
</div>

<div fxFlexOffset="10" fxFlex="35">
 <div flex="100" *ngFor="let item of salon.menu">
   <md-checkbox name="ch_serv" [(ngModel)]="item.selected" 
    (change)="recalc_price()">
    {{ item.name }}
   </md-checkbox>
 </div>

 <div><h2>Total Price : {{salon.totalPriceForSelectedServices}} euro</h2></div>

</div>
</div>

</form>
</div>